<div class="row">
    <div id="actionPanel" class="col-sm-4">
        <div class="actionPanel">
            <fieldset>
                <legend>Filter/Sort</legend>
                <input type="text" class="filter" name="filter" ng-keyup="filterList(event)">
                <a class="sortButton btn btn-success" ng-click="sortList('text')">Sort by text</a>
                <a class="sortButton btn btn-success" ng-click="sortList('date')">Sort by date</a>
            </fieldset>
        </div>
    </div>
    <div id="actionPanel2" class="col-sm-2">
        <div class="actionPanel">
            <fieldset>
                <legend>Add task</legend>
                <a class="addButton btn btn-success" ng-click="addTask()">Add</a>
            </fieldset>
        </div>
    </div>
</div>
<div class="row">
    <div id="todoPanel" class="col-sm-5">
        <fieldset>
            <legend>TODO LIST</legend>
            <ul>
                <div class="repeated-item" ng-repeat="todos in list.todo track by $index">
                    <list-element></list-element>
                </div>
            </ul>
        </fieldset>
    </div>


    <div id="donePanel" class="col-sm-5">
        <fieldset>
            <legend>DONE LIST</legend>
            <ul>
                <div class="repeated-item" ng-repeat="todos in list.done track by $index">
                    <list-element></list-element>
                </div>
            </ul>
        </fieldset>
    </div>

</div>