<div class="row">
    <div id="loginPanel" class="col-sm-4">
        <div id="login">
            <label>Username</label>
            <input type="text" class="login" id="Username" ng-model="loginUser.name">
            <label>Password</label>
            <input type="password" class="login" id="Password" ng-model="loginUser.password">
            <br/><br/>
        </div>
        <div>
            <input class="loginButton btn btn-success" type="button" value="login" ng-click="login()">
            <input class="registerButton btn btn-success" type="button" value="Register" ng-click="register()">
        </div>

    </div>
</div>